#!/usr/bin/env bash

# START SETTINGS zookeeper.base
export CONTECO_DC_ZOOKEEPER_PORTS="2181:2181"
export CONTECO_DC_ZOOKEEPER_NETWORKS="${CONTECO_ECOSYSTEM}_overlay"
export CONTECO_DC_ZOOKEEPER_VOLUMES_NAME="${CONTECO_ECOSYSTEM}_${CONTECO_TYPE}_volume"
export CONTECO_DC_ZOOKEEPER_DEPLOY_RESOURCES_LIMITS_CPUS="0.75"
export CONTECO_DC_ZOOKEEPER_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.1"
export CONTECO_DC_ZOOKEEPER_DEPLOY_RESOURCES_LIMITS_MEMORY="128m"
export CONTECO_DC_ZOOKEEPER_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="64m"
# END SETTINGS zookeeper.base

# START SETTINGS kafka.base
export CONTECO_DC_KAFKA_KAFKA_ZOOKEEPER_CONNECT="zookeeper:2181"
export CONTECO_DC_KAFKA_KAFKA_INTER_BROKER_LISTENER_NAME="PLAINTEXT:PLAINTEXT"
export CONTECO_DC_KAFKA_KAFKA_ADVERTISED_LISTENERS="PLAINTEXT://${CONTECO_TYPE}:9092"
export CONTECO_DC_KAFKA_CONFLUENT_METRICS_REPORTER_BOOTSTRAP_SERVERS="${CONTECO_TYPE}:9092"
export CONTECO_DC_KAFKA_VOLUMES_NAME="${CONTECO_ECOSYSTEM}_${CONTECO_TYPE}_volume"
export CONTECO_DC_KAFKA_PORTS="9092:9092"
export CONTECO_DC_KAFKA_NETWORKS="${CONTECO_ECOSYSTEM}_overlay"
export CONTECO_DC_KAFKA_DEPLOY_RESOURCES_LIMITS_CPUS="0.75"
export CONTECO_DC_KAFKA_DEPLOY_RESOURCES_RESERVATIONS_CPUS="0.1"
export CONTECO_DC_KAFKA_DEPLOY_RESOURCES_LIMITS_MEMORY="512m"
export CONTECO_DC_KAFKA_DEPLOY_RESOURCES_RESERVATIONS_MEMORY="256m"
# END SETTINGS kafka.base


